USE [master]
GO
/****** Object:  Database [Volto_big_data]    Script Date: 24/04/2025 21:43:26 ******/
CREATE DATABASE [Volto_big_data]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Volto_big_data', FILENAME = N'/var/opt/mssql/data/Volto_big_data.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Volto_big_data_log', FILENAME = N'/var/opt/mssql/data/Volto_big_data_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Volto_big_data].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Volto_big_data]
GO
/****** Object:  Table [dbo].[companies]    Script Date: 24/04/2025 21:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[companies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [varchar](500) NULL,
	[country] [varchar](100) NULL,
	[city] [varchar](100) NULL,
	[full_address] [varchar](256) NULL,
	[website] [varchar](256) NULL,
	[category_google] [varchar](100) NULL,
	[rating_google] [decimal](3, 1) NULL,
	[rated_count] [varchar](50) NULL,
	[google_maps_URL] [varchar](1000) NULL,
	[big_fish_score] [int] NULL,
	[class] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cust_classes]    Script Date: 24/04/2025 21:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cust_classes](
	[value] [int] NULL,
	[class_name] [varchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[email]    Script Date: 24/04/2025 21:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[email](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[comp_id] [int] NOT NULL,
	[email] [varchar](500) NULL,
	[checked] [tinyint] NULL,
	[date] [datetime] NULL,
	[sent_from] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facebook]    Script Date: 24/04/2025 21:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facebook](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[comp_id] [int] NOT NULL,
	[facebook] [varchar](500) NULL,
	[checked] [tinyint] NULL,
	[date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instagram]    Script Date: 24/04/2025 21:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instagram](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[comp_id] [int] NOT NULL,
	[instagram] [varchar](500) NULL,
	[checked] [tinyint] NULL,
	[date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[linkedin]    Script Date: 24/04/2025 21:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[linkedin](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[comp_id] [int] NOT NULL,
	[linkedin] [varchar](500) NULL,
	[checked] [tinyint] NULL,
	[date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notes_tbl]    Script Date: 24/04/2025 21:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notes_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[comp_ID] [int] NOT NULL,
	[note] [varchar](5000) NULL,
	[date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[other_contacts]    Script Date: 24/04/2025 21:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[other_contacts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[comp_id] [int] NOT NULL,
	[channel] [varchar](50) NOT NULL,
	[number] [varchar](50) NOT NULL,
	[date] [datetime] NULL,
	[checked] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[other_contacts_old]    Script Date: 24/04/2025 21:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[other_contacts_old](
	[id] [int] NOT NULL,
	[comp_id] [int] NOT NULL,
	[channel] [varchar](50) NOT NULL,
	[number] [varchar](50) NOT NULL,
	[date] [datetime] NULL,
	[checked] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phone_num]    Script Date: 24/04/2025 21:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phone_num](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[comp_id] [int] NOT NULL,
	[phone] [varchar](50) NULL,
	[checked] [tinyint] NULL,
	[date] [datetime] NULL,
	[whatsapp] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [FK_email_companies]    Script Date: 24/04/2025 21:43:27 ******/
CREATE NONCLUSTERED INDEX [FK_email_companies] ON [dbo].[email]
(
	[comp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_facebook_companies]    Script Date: 24/04/2025 21:43:27 ******/
CREATE NONCLUSTERED INDEX [FK_facebook_companies] ON [dbo].[facebook]
(
	[comp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_instagram_companies]    Script Date: 24/04/2025 21:43:27 ******/
CREATE NONCLUSTERED INDEX [FK_instagram_companies] ON [dbo].[instagram]
(
	[comp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_linkedin_companies]    Script Date: 24/04/2025 21:43:27 ******/
CREATE NONCLUSTERED INDEX [FK_linkedin_companies] ON [dbo].[linkedin]
(
	[comp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_phone_num_companies]    Script Date: 24/04/2025 21:43:27 ******/
CREATE NONCLUSTERED INDEX [FK_phone_num_companies] ON [dbo].[phone_num]
(
	[comp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[other_contacts_old] ADD  DEFAULT ((0)) FOR [comp_id]
GO
ALTER TABLE [dbo].[other_contacts_old] ADD  DEFAULT ('0') FOR [channel]
GO
ALTER TABLE [dbo].[other_contacts_old] ADD  DEFAULT ('0') FOR [number]
GO
ALTER TABLE [dbo].[email]  WITH CHECK ADD  CONSTRAINT [FK_email_companies] FOREIGN KEY([comp_id])
REFERENCES [dbo].[companies] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[email] CHECK CONSTRAINT [FK_email_companies]
GO
ALTER TABLE [dbo].[facebook]  WITH CHECK ADD  CONSTRAINT [FK_facebook_companies] FOREIGN KEY([comp_id])
REFERENCES [dbo].[companies] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[facebook] CHECK CONSTRAINT [FK_facebook_companies]
GO
ALTER TABLE [dbo].[instagram]  WITH CHECK ADD  CONSTRAINT [FK_instagram_companies] FOREIGN KEY([comp_id])
REFERENCES [dbo].[companies] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[instagram] CHECK CONSTRAINT [FK_instagram_companies]
GO
ALTER TABLE [dbo].[linkedin]  WITH CHECK ADD  CONSTRAINT [FK_linkedin_companies] FOREIGN KEY([comp_id])
REFERENCES [dbo].[companies] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[linkedin] CHECK CONSTRAINT [FK_linkedin_companies]
GO
ALTER TABLE [dbo].[phone_num]  WITH CHECK ADD  CONSTRAINT [FK_phone_num_companies] FOREIGN KEY([comp_id])
REFERENCES [dbo].[companies] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[phone_num] CHECK CONSTRAINT [FK_phone_num_companies]
GO
USE [master]
GO
