USE [Volto_pk]
GO
/****** Object:  Table [dbo].[battery_or_memory_tbl]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[battery_or_memory_tbl](
	[id] [int] NOT NULL,
	[value] [nvarchar](20) NULL,
 CONSTRAINT [PK_battery_or_memory_tbl_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competitor_channels]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competitor_channels](
	[id] [int] IDENTITY(210,1) NOT NULL,
	[channel] [nvarchar](50) NOT NULL,
	[number] [nvarchar](500) NOT NULL,
	[comp_ID] [int] NOT NULL,
	[ssma$rowid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_competitor_channels_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_competitor_channels_ssma$rowid] UNIQUE NONCLUSTERED 
(
	[ssma$rowid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competitor_company]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competitor_company](
	[id] [int] IDENTITY(136,1) NOT NULL,
	[comp_name] [nvarchar](50) NULL,
	[cn_name] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[address] [nvarchar](1000) NULL,
	[logo] [nvarchar](500) NULL,
	[notes] [nvarchar](max) NULL,
	[business_type] [nvarchar](50) NULL,
	[favorite] [smallint] NOT NULL,
	[lvl] [int] NULL,
	[lastUpdated] [datetime] NULL,
	[ssma$rowid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_competitor_company_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_competitor_company_ssma$rowid] UNIQUE NONCLUSTERED 
(
	[ssma$rowid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competitor_files]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competitor_files](
	[id] [int] IDENTITY(65,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[url] [nvarchar](1000) NULL,
	[comp_ID] [int] NOT NULL,
	[description] [nvarchar](200) NULL,
	[media] [smallint] NOT NULL,
	[ssma$rowid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_competitor_files_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_competitor_files_ssma$rowid] UNIQUE NONCLUSTERED 
(
	[ssma$rowid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competitor_people]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competitor_people](
	[id] [int] IDENTITY(127,1) NOT NULL,
	[comp_id] [int] NOT NULL,
	[name] [nvarchar](500) NULL,
	[notes] [nvarchar](500) NULL,
	[picture] [nvarchar](500) NULL,
	[position] [nvarchar](50) NULL,
	[contacts] [nvarchar](1500) NULL,
 CONSTRAINT [PK_competitor_people_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competitor_price]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competitor_price](
	[id] [int] IDENTITY(248,1) NOT NULL,
	[prod_id] [int] NULL,
	[date] [datetime] NOT NULL,
	[version] [nvarchar](20) NULL,
	[price_1] [decimal](10, 2) NULL,
	[price_2] [decimal](10, 2) NULL,
	[price_20] [decimal](10, 2) NULL,
	[price_50] [decimal](10, 2) NULL,
	[price_100] [decimal](10, 2) NULL,
	[price_200] [decimal](10, 2) NULL,
	[price_500] [decimal](10, 2) NULL,
	[price_1000] [decimal](10, 2) NULL,
	[source] [nvarchar](50) NULL,
	[currency] [nvarchar](50) NULL,
	[check] [smallint] NOT NULL,
	[url] [nvarchar](1000) NULL,
	[ssma$rowid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_competitor_price_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_competitor_price_ssma$rowid] UNIQUE NONCLUSTERED 
(
	[ssma$rowid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competitor_product]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competitor_product](
	[id] [int] IDENTITY(196,1) NOT NULL,
	[comp_id] [int] NULL,
	[og_id] [int] NULL,
	[they_call_it] [nvarchar](50) NULL,
	[series] [nvarchar](50) NULL,
	[versions] [nvarchar](500) NULL,
	[brightness] [nvarchar](50) NULL,
	[resolution] [nvarchar](50) NULL,
	[active] [smallint] NOT NULL,
	[notes] [nvarchar](1000) NULL,
	[extra] [nvarchar](1000) NULL,
	[ssma$rowid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_competitor_product_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_competitor_product_ssma$rowid] UNIQUE NONCLUSTERED 
(
	[ssma$rowid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competitor_product_copy_before_split_og]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competitor_product_copy_before_split_og](
	[id] [int] IDENTITY(50,1) NOT NULL,
	[comp_id] [int] NOT NULL,
	[og_id] [int] NULL,
	[volto_prod_id] [int] NULL,
	[they_call_it] [nvarchar](50) NULL,
	[series] [nvarchar](50) NULL,
	[versions] [nvarchar](500) NULL,
	[picture] [nvarchar](500) NULL,
	[display] [nvarchar](20) NULL,
	[brightness] [nvarchar](50) NULL,
	[resolution] [nvarchar](50) NULL,
	[active] [smallint] NOT NULL,
	[notes] [nvarchar](1000) NULL,
	[measurements] [nvarchar](500) NULL,
	[extra] [nvarchar](1000) NULL,
 CONSTRAINT [PK_competitor_product_copy_before_split_og_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competitor_qcc]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competitor_qcc](
	[id] [int] IDENTITY(119,1) NOT NULL,
	[comp_name] [nvarchar](50) NULL,
	[en_name] [nvarchar](200) NULL,
	[legal_rep] [nvarchar](50) NULL,
	[comments] [nvarchar](1500) NULL,
	[start_date] [date] NULL,
	[link_comp_id] [int] NULL,
 CONSTRAINT [PK_competitor_qcc_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competitor_qcc_intersection]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competitor_qcc_intersection](
	[qcc_id] [int] NOT NULL,
	[comp_id] [int] NOT NULL,
 CONSTRAINT [PK_competitor_qcc_intersection_qcc_id] PRIMARY KEY CLUSTERED 
(
	[qcc_id] ASC,
	[comp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competitor_qcc_people]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competitor_qcc_people](
	[id] [int] IDENTITY(275,1) NOT NULL,
	[qcc_id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[whois] [nvarchar](1000) NULL,
	[legal_rep] [smallint] NOT NULL,
 CONSTRAINT [PK_competitor_qcc_people_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contacts_tbl]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacts_tbl](
	[id] [int] IDENTITY(183,1) NOT NULL,
	[cust_ID] [int] NOT NULL,
	[channel] [nvarchar](50) NULL,
	[number] [nvarchar](200) NULL,
 CONSTRAINT [PK_contacts_tbl_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cost_rmb]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cost_rmb](
	[id] [int] IDENTITY(117,1) NOT NULL,
	[id_version] [int] NULL,
	[cost1] [decimal](20, 2) NULL,
	[cost1_desc] [nvarchar](50) NULL,
	[cost2] [decimal](20, 2) NULL,
	[cost2_desc] [nvarchar](50) NULL,
	[cost3] [decimal](20, 2) NULL,
	[cost3_desc] [nvarchar](50) NULL,
	[cost4] [decimal](20, 2) NULL,
	[cost4_desc] [nvarchar](50) NULL,
	[cost5] [decimal](20, 2) NULL,
	[cost5_desc] [nvarchar](50) NULL,
	[cost6] [decimal](20, 2) NULL,
	[cost6_desc] [nvarchar](50) NULL,
	[MOQ] [nvarchar](50) NULL,
 CONSTRAINT [PK_cost_rmb_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cstmr_tbl]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cstmr_tbl](
	[cust_ID] [int] IDENTITY(104,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[FirstName] [nvarchar](200) NULL,
	[LastName] [nvarchar](200) NULL,
	[identifier] [nvarchar](256) NULL,
	[source] [nvarchar](256) NULL,
	[country] [nvarchar](256) NULL,
	[city] [nvarchar](256) NULL,
	[company] [nvarchar](256) NULL,
	[website] [nvarchar](256) NULL,
	[photo] [nvarchar](1000) NULL,
	[time_zone] [nvarchar](256) NULL,
	[status] [int] NOT NULL,
	[invoice_prefix] [nvarchar](50) NULL,
	[invoice_no_suffix] [int] NOT NULL,
	[shipping_varchar] [nvarchar](256) NULL,
	[shipping_cost] [decimal](20, 6) NULL,
	[last_update] [datetime] NULL,
	[def_address] [int] NOT NULL,
	[ssma$rowid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_cstmr_tbl_cust_ID] PRIMARY KEY CLUSTERED 
(
	[cust_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_cstmr_tbl_ssma$rowid] UNIQUE NONCLUSTERED 
(
	[ssma$rowid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[currency_tbl]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[currency_tbl](
	[id] [int] NOT NULL,
	[USD] [decimal](20, 3) NULL,
	[markUP_guide] [decimal](20, 3) NULL,
 CONSTRAINT [PK_currency_tbl_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[libre_filter_classes]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[libre_filter_classes](
	[id] [int] NOT NULL,
	[class] [nvarchar](256) NULL,
 CONSTRAINT [PK_libre_filter_classes_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[libre_filter_tbl]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[libre_filter_tbl](
	[id] [int] NOT NULL,
	[class] [nvarchar](50) NULL,
	[selected_customer] [nvarchar](50) NULL,
	[selected_customer_varchar] [nvarchar](50) NULL,
	[human_switch] [smallint] NULL,
	[view_radios] [smallint] NULL,
	[PI_incoterms] [nvarchar](1000) NULL,
	[PI_payment] [nvarchar](1000) NULL,
	[PI_delivery] [nvarchar](1000) NULL,
	[PI_packaging] [nvarchar](1000) NULL,
	[PI_powerplugvarchar] [nvarchar](1000) NULL,
	[PI_companylogo] [nvarchar](1000) NULL,
	[PI_companysignature] [nvarchar](1000) NULL,
	[status_flt] [int] NULL,
	[searchin] [nvarchar](50) NULL,
	[main_prod] [smallint] NULL,
 CONSTRAINT [PK_libre_filter_tbl_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[libre_zhutui_filter]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[libre_zhutui_filter](
	[id] [int] NOT NULL,
	[value] [nvarchar](50) NULL,
	[number] [int] NULL,
 CONSTRAINT [PK_libre_zhutui_filter_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notes_tbl]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notes_tbl](
	[id] [int] IDENTITY(80,1) NOT NULL,
	[cust_ID] [int] NOT NULL,
	[note] [nvarchar](max) NULL,
	[last_touch] [datetime] NULL,
 CONSTRAINT [PK_notes_tbl_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[numbers_from_1_to_99]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[numbers_from_1_to_99](
	[id] [int] IDENTITY(100,1) NOT NULL,
 CONSTRAINT [PK_numbers_from_1_to_99_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[og_models]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[og_models](
	[id] [int] IDENTITY(191,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[factory] [nvarchar](50) NULL,
	[display_type] [nvarchar](10) NULL,
	[display_size] [decimal](4, 2) NULL,
	[image_cloud] [nvarchar](500) NULL,
	[proprietary] [int] NULL,
	[measurements] [nvarchar](500) NULL,
	[image2] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ongoinginvoice_tbl]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ongoinginvoice_tbl](
	[id] [int] IDENTITY(299,1) NOT NULL,
	[cust_id] [int] NOT NULL,
	[version_id] [int] NOT NULL,
	[invoice_no_suffix] [int] NULL,
	[qty] [int] NULL,
	[price_bulk] [decimal](20, 6) NULL,
	[price_sample] [decimal](20, 6) NULL,
	[price_only] [decimal](20, 6) NULL,
 CONSTRAINT [PK_ongoinginvoice_tbl_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[powerplug_tbl]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[powerplug_tbl](
	[id] [int] NOT NULL,
	[power_plug] [nvarchar](50) NOT NULL,
	[picture] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_powerplug_tbl_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[price_tbl]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[price_tbl](
	[id] [int] IDENTITY(169,1) NOT NULL,
	[prod_ID] [int] NULL,
	[version] [nvarchar](100) NULL,
	[price_sample] [decimal](20, 6) NULL,
	[price_bulk] [decimal](20, 6) NULL,
	[CheckBox] [smallint] NULL,
	[Version_num] [int] NULL,
	[price_only] [decimal](20, 6) NULL,
	[QTY] [int] NULL,
 CONSTRAINT [PK_price_tbl_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productinfo_tbl]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productinfo_tbl](
	[id] [int] IDENTITY(63,1) NOT NULL,
	[og_id] [int] NOT NULL,
	[OG_name] [nvarchar](50) NULL,
	[Volto_name] [nvarchar](50) NULL,
	[check] [smallint] NULL,
	[comment] [nvarchar](1000) NULL,
	[image_cloud] [nvarchar](1000) NULL,
	[image] [nvarchar](256) NULL,
	[resolution] [nvarchar](50) NULL,
	[brightness] [int] NULL,
	[throw_ratio] [nvarchar](50) NULL,
	[contrast_ratio] [nvarchar](50) NULL,
	[battery] [int] NULL,
	[ports] [nvarchar](1000) NULL,
	[light_source] [nvarchar](30) NULL,
	[display_type] [nvarchar](30) NULL,
	[display_size] [nvarchar](100) NULL,
	[package] [nvarchar](1000) NULL,
	[factory] [nvarchar](100) NULL,
	[www] [nvarchar](1000) NULL,
	[class] [nvarchar](1000) NULL,
	[main_prod] [smallint] NULL,
	[dead] [smallint] NULL,
	[memory] [nvarchar](50) NULL,
	[bat_or_mem] [int] NULL,
 CONSTRAINT [PK_productinfo_tbl_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[quote_log_tbl]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[quote_log_tbl](
	[id] [int] IDENTITY(1750,1) NOT NULL,
	[cust_ID] [int] NOT NULL,
	[date] [datetime2](0) NOT NULL,
	[id_prod_versionPrice] [int] NOT NULL,
	[price_bulk] [decimal](20, 6) NULL,
	[price_sample] [decimal](20, 6) NULL,
	[price_only] [decimal](20, 6) NULL,
 CONSTRAINT [PK_quote_log_tbl_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shippingaddress_tbl]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shippingaddress_tbl](
	[id] [int] IDENTITY(101,1) NOT NULL,
	[cust_ID] [int] NOT NULL,
	[shipping_address] [nvarchar](1000) NOT NULL,
	[default_add] [smallint] NOT NULL,
 CONSTRAINT [PK_shippingaddress_tbl_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status_tbl]    Script Date: 24/04/2025 21:46:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_tbl](
	[id] [int] NOT NULL,
	[status] [nvarchar](11) NOT NULL,
	[id_varchar] [nvarchar](11) NOT NULL,
 CONSTRAINT [PK_status_tbl_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[battery_or_memory_tbl] ADD  DEFAULT (NULL) FOR [value]
GO
ALTER TABLE [dbo].[competitor_channels] ADD  DEFAULT (N'0') FOR [channel]
GO
ALTER TABLE [dbo].[competitor_channels] ADD  DEFAULT (N'0') FOR [number]
GO
ALTER TABLE [dbo].[competitor_channels] ADD  DEFAULT (newid()) FOR [ssma$rowid]
GO
ALTER TABLE [dbo].[competitor_company] ADD  DEFAULT (NULL) FOR [comp_name]
GO
ALTER TABLE [dbo].[competitor_company] ADD  DEFAULT (NULL) FOR [cn_name]
GO
ALTER TABLE [dbo].[competitor_company] ADD  DEFAULT (NULL) FOR [city]
GO
ALTER TABLE [dbo].[competitor_company] ADD  DEFAULT (NULL) FOR [address]
GO
ALTER TABLE [dbo].[competitor_company] ADD  DEFAULT (NULL) FOR [logo]
GO
ALTER TABLE [dbo].[competitor_company] ADD  DEFAULT (NULL) FOR [notes]
GO
ALTER TABLE [dbo].[competitor_company] ADD  DEFAULT (NULL) FOR [business_type]
GO
ALTER TABLE [dbo].[competitor_company] ADD  DEFAULT ((0)) FOR [favorite]
GO
ALTER TABLE [dbo].[competitor_company] ADD  DEFAULT (NULL) FOR [lvl]
GO
ALTER TABLE [dbo].[competitor_company] ADD  DEFAULT (getdate()) FOR [lastUpdated]
GO
ALTER TABLE [dbo].[competitor_company] ADD  DEFAULT (newid()) FOR [ssma$rowid]
GO
ALTER TABLE [dbo].[competitor_files] ADD  DEFAULT (NULL) FOR [name]
GO
ALTER TABLE [dbo].[competitor_files] ADD  DEFAULT (NULL) FOR [url]
GO
ALTER TABLE [dbo].[competitor_files] ADD  DEFAULT (NULL) FOR [description]
GO
ALTER TABLE [dbo].[competitor_files] ADD  DEFAULT ((0)) FOR [media]
GO
ALTER TABLE [dbo].[competitor_files] ADD  DEFAULT (newid()) FOR [ssma$rowid]
GO
ALTER TABLE [dbo].[competitor_people] ADD  DEFAULT (N'') FOR [name]
GO
ALTER TABLE [dbo].[competitor_people] ADD  DEFAULT (N'') FOR [notes]
GO
ALTER TABLE [dbo].[competitor_people] ADD  DEFAULT (N'') FOR [picture]
GO
ALTER TABLE [dbo].[competitor_people] ADD  DEFAULT (N'') FOR [position]
GO
ALTER TABLE [dbo].[competitor_people] ADD  DEFAULT (NULL) FOR [contacts]
GO
ALTER TABLE [dbo].[competitor_price] ADD  DEFAULT (NULL) FOR [prod_id]
GO
ALTER TABLE [dbo].[competitor_price] ADD  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[competitor_price] ADD  DEFAULT (NULL) FOR [version]
GO
ALTER TABLE [dbo].[competitor_price] ADD  DEFAULT (NULL) FOR [price_1]
GO
ALTER TABLE [dbo].[competitor_price] ADD  DEFAULT (NULL) FOR [price_2]
GO
ALTER TABLE [dbo].[competitor_price] ADD  DEFAULT (NULL) FOR [price_20]
GO
ALTER TABLE [dbo].[competitor_price] ADD  DEFAULT (NULL) FOR [price_50]
GO
ALTER TABLE [dbo].[competitor_price] ADD  DEFAULT (NULL) FOR [price_100]
GO
ALTER TABLE [dbo].[competitor_price] ADD  DEFAULT (NULL) FOR [price_200]
GO
ALTER TABLE [dbo].[competitor_price] ADD  DEFAULT (NULL) FOR [price_500]
GO
ALTER TABLE [dbo].[competitor_price] ADD  DEFAULT (NULL) FOR [price_1000]
GO
ALTER TABLE [dbo].[competitor_price] ADD  DEFAULT (NULL) FOR [source]
GO
ALTER TABLE [dbo].[competitor_price] ADD  DEFAULT (NULL) FOR [currency]
GO
ALTER TABLE [dbo].[competitor_price] ADD  DEFAULT ((0)) FOR [check]
GO
ALTER TABLE [dbo].[competitor_price] ADD  DEFAULT (NULL) FOR [url]
GO
ALTER TABLE [dbo].[competitor_price] ADD  DEFAULT (newid()) FOR [ssma$rowid]
GO
ALTER TABLE [dbo].[competitor_product] ADD  DEFAULT ((0)) FOR [comp_id]
GO
ALTER TABLE [dbo].[competitor_product] ADD  DEFAULT (NULL) FOR [og_id]
GO
ALTER TABLE [dbo].[competitor_product] ADD  DEFAULT (NULL) FOR [they_call_it]
GO
ALTER TABLE [dbo].[competitor_product] ADD  DEFAULT (NULL) FOR [series]
GO
ALTER TABLE [dbo].[competitor_product] ADD  DEFAULT (NULL) FOR [versions]
GO
ALTER TABLE [dbo].[competitor_product] ADD  DEFAULT (NULL) FOR [brightness]
GO
ALTER TABLE [dbo].[competitor_product] ADD  DEFAULT (NULL) FOR [resolution]
GO
ALTER TABLE [dbo].[competitor_product] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[competitor_product] ADD  DEFAULT (NULL) FOR [notes]
GO
ALTER TABLE [dbo].[competitor_product] ADD  DEFAULT (NULL) FOR [extra]
GO
ALTER TABLE [dbo].[competitor_product] ADD  DEFAULT (newid()) FOR [ssma$rowid]
GO
ALTER TABLE [dbo].[competitor_product_copy_before_split_og] ADD  DEFAULT ((0)) FOR [comp_id]
GO
ALTER TABLE [dbo].[competitor_product_copy_before_split_og] ADD  DEFAULT (NULL) FOR [og_id]
GO
ALTER TABLE [dbo].[competitor_product_copy_before_split_og] ADD  DEFAULT (NULL) FOR [volto_prod_id]
GO
ALTER TABLE [dbo].[competitor_product_copy_before_split_og] ADD  DEFAULT (NULL) FOR [they_call_it]
GO
ALTER TABLE [dbo].[competitor_product_copy_before_split_og] ADD  DEFAULT (NULL) FOR [series]
GO
ALTER TABLE [dbo].[competitor_product_copy_before_split_og] ADD  DEFAULT (NULL) FOR [versions]
GO
ALTER TABLE [dbo].[competitor_product_copy_before_split_og] ADD  DEFAULT (NULL) FOR [picture]
GO
ALTER TABLE [dbo].[competitor_product_copy_before_split_og] ADD  DEFAULT (NULL) FOR [display]
GO
ALTER TABLE [dbo].[competitor_product_copy_before_split_og] ADD  DEFAULT (NULL) FOR [brightness]
GO
ALTER TABLE [dbo].[competitor_product_copy_before_split_og] ADD  DEFAULT (NULL) FOR [resolution]
GO
ALTER TABLE [dbo].[competitor_product_copy_before_split_og] ADD  DEFAULT ((1)) FOR [active]
GO
ALTER TABLE [dbo].[competitor_product_copy_before_split_og] ADD  DEFAULT (NULL) FOR [notes]
GO
ALTER TABLE [dbo].[competitor_product_copy_before_split_og] ADD  DEFAULT (NULL) FOR [measurements]
GO
ALTER TABLE [dbo].[competitor_product_copy_before_split_og] ADD  DEFAULT (NULL) FOR [extra]
GO
ALTER TABLE [dbo].[competitor_qcc] ADD  DEFAULT (NULL) FOR [comp_name]
GO
ALTER TABLE [dbo].[competitor_qcc] ADD  DEFAULT (NULL) FOR [en_name]
GO
ALTER TABLE [dbo].[competitor_qcc] ADD  DEFAULT (NULL) FOR [legal_rep]
GO
ALTER TABLE [dbo].[competitor_qcc] ADD  DEFAULT (NULL) FOR [comments]
GO
ALTER TABLE [dbo].[competitor_qcc] ADD  DEFAULT (NULL) FOR [start_date]
GO
ALTER TABLE [dbo].[competitor_qcc] ADD  DEFAULT (NULL) FOR [link_comp_id]
GO
ALTER TABLE [dbo].[competitor_qcc_people] ADD  DEFAULT (NULL) FOR [name]
GO
ALTER TABLE [dbo].[competitor_qcc_people] ADD  DEFAULT (NULL) FOR [whois]
GO
ALTER TABLE [dbo].[competitor_qcc_people] ADD  DEFAULT ((0)) FOR [legal_rep]
GO
ALTER TABLE [dbo].[contacts_tbl] ADD  DEFAULT (N'') FOR [channel]
GO
ALTER TABLE [dbo].[contacts_tbl] ADD  DEFAULT (N'') FOR [number]
GO
ALTER TABLE [dbo].[cost_rmb] ADD  DEFAULT (NULL) FOR [id_version]
GO
ALTER TABLE [dbo].[cost_rmb] ADD  DEFAULT (NULL) FOR [cost1]
GO
ALTER TABLE [dbo].[cost_rmb] ADD  DEFAULT (NULL) FOR [cost1_desc]
GO
ALTER TABLE [dbo].[cost_rmb] ADD  DEFAULT (NULL) FOR [cost2]
GO
ALTER TABLE [dbo].[cost_rmb] ADD  DEFAULT (NULL) FOR [cost2_desc]
GO
ALTER TABLE [dbo].[cost_rmb] ADD  DEFAULT (NULL) FOR [cost3]
GO
ALTER TABLE [dbo].[cost_rmb] ADD  DEFAULT (NULL) FOR [cost3_desc]
GO
ALTER TABLE [dbo].[cost_rmb] ADD  DEFAULT (NULL) FOR [cost4]
GO
ALTER TABLE [dbo].[cost_rmb] ADD  DEFAULT (NULL) FOR [cost4_desc]
GO
ALTER TABLE [dbo].[cost_rmb] ADD  DEFAULT (NULL) FOR [cost5]
GO
ALTER TABLE [dbo].[cost_rmb] ADD  DEFAULT (NULL) FOR [cost5_desc]
GO
ALTER TABLE [dbo].[cost_rmb] ADD  DEFAULT (NULL) FOR [cost6]
GO
ALTER TABLE [dbo].[cost_rmb] ADD  DEFAULT (NULL) FOR [cost6_desc]
GO
ALTER TABLE [dbo].[cost_rmb] ADD  DEFAULT (NULL) FOR [MOQ]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT (N'') FOR [title]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT (N'') FOR [FirstName]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT (N'') FOR [LastName]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT (N'') FOR [identifier]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT (N'') FOR [source]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT (N'') FOR [country]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT (N'') FOR [city]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT (N'') FOR [company]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT (N'') FOR [website]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT (N'') FOR [photo]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT (N'') FOR [time_zone]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT (NULL) FOR [invoice_prefix]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT ((1)) FOR [invoice_no_suffix]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT (NULL) FOR [shipping_varchar]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT (NULL) FOR [shipping_cost]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT (getdate()) FOR [last_update]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT ((0)) FOR [def_address]
GO
ALTER TABLE [dbo].[cstmr_tbl] ADD  DEFAULT (newid()) FOR [ssma$rowid]
GO
ALTER TABLE [dbo].[currency_tbl] ADD  DEFAULT (NULL) FOR [USD]
GO
ALTER TABLE [dbo].[currency_tbl] ADD  DEFAULT (NULL) FOR [markUP_guide]
GO
ALTER TABLE [dbo].[libre_filter_classes] ADD  DEFAULT (NULL) FOR [class]
GO
ALTER TABLE [dbo].[libre_filter_tbl] ADD  DEFAULT (NULL) FOR [class]
GO
ALTER TABLE [dbo].[libre_filter_tbl] ADD  DEFAULT (NULL) FOR [selected_customer]
GO
ALTER TABLE [dbo].[libre_filter_tbl] ADD  DEFAULT (NULL) FOR [selected_customer_varchar]
GO
ALTER TABLE [dbo].[libre_filter_tbl] ADD  DEFAULT (NULL) FOR [human_switch]
GO
ALTER TABLE [dbo].[libre_filter_tbl] ADD  DEFAULT (NULL) FOR [view_radios]
GO
ALTER TABLE [dbo].[libre_filter_tbl] ADD  DEFAULT (NULL) FOR [PI_incoterms]
GO
ALTER TABLE [dbo].[libre_filter_tbl] ADD  DEFAULT (NULL) FOR [PI_payment]
GO
ALTER TABLE [dbo].[libre_filter_tbl] ADD  DEFAULT (NULL) FOR [PI_delivery]
GO
ALTER TABLE [dbo].[libre_filter_tbl] ADD  DEFAULT (NULL) FOR [PI_packaging]
GO
ALTER TABLE [dbo].[libre_filter_tbl] ADD  DEFAULT (NULL) FOR [PI_powerplugvarchar]
GO
ALTER TABLE [dbo].[libre_filter_tbl] ADD  DEFAULT (NULL) FOR [PI_companylogo]
GO
ALTER TABLE [dbo].[libre_filter_tbl] ADD  DEFAULT (NULL) FOR [PI_companysignature]
GO
ALTER TABLE [dbo].[libre_filter_tbl] ADD  DEFAULT (NULL) FOR [status_flt]
GO
ALTER TABLE [dbo].[libre_filter_tbl] ADD  DEFAULT (NULL) FOR [searchin]
GO
ALTER TABLE [dbo].[libre_filter_tbl] ADD  DEFAULT (NULL) FOR [main_prod]
GO
ALTER TABLE [dbo].[libre_zhutui_filter] ADD  DEFAULT (NULL) FOR [value]
GO
ALTER TABLE [dbo].[libre_zhutui_filter] ADD  DEFAULT (NULL) FOR [number]
GO
ALTER TABLE [dbo].[notes_tbl] ADD  DEFAULT (N'<h2> Q1 </h2> Answer <h2> Q2 </h2> Ans') FOR [note]
GO
ALTER TABLE [dbo].[notes_tbl] ADD  DEFAULT (getdate()) FOR [last_touch]
GO
ALTER TABLE [dbo].[og_models] ADD  DEFAULT (NULL) FOR [name]
GO
ALTER TABLE [dbo].[og_models] ADD  DEFAULT (NULL) FOR [factory]
GO
ALTER TABLE [dbo].[og_models] ADD  DEFAULT (NULL) FOR [display_type]
GO
ALTER TABLE [dbo].[og_models] ADD  DEFAULT (NULL) FOR [display_size]
GO
ALTER TABLE [dbo].[og_models] ADD  DEFAULT (NULL) FOR [image_cloud]
GO
ALTER TABLE [dbo].[og_models] ADD  DEFAULT (NULL) FOR [proprietary]
GO
ALTER TABLE [dbo].[og_models] ADD  DEFAULT (NULL) FOR [measurements]
GO
ALTER TABLE [dbo].[og_models] ADD  DEFAULT (NULL) FOR [image2]
GO
ALTER TABLE [dbo].[ongoinginvoice_tbl] ADD  DEFAULT (NULL) FOR [invoice_no_suffix]
GO
ALTER TABLE [dbo].[ongoinginvoice_tbl] ADD  DEFAULT (NULL) FOR [qty]
GO
ALTER TABLE [dbo].[ongoinginvoice_tbl] ADD  DEFAULT (NULL) FOR [price_bulk]
GO
ALTER TABLE [dbo].[ongoinginvoice_tbl] ADD  DEFAULT (NULL) FOR [price_sample]
GO
ALTER TABLE [dbo].[ongoinginvoice_tbl] ADD  DEFAULT (NULL) FOR [price_only]
GO
ALTER TABLE [dbo].[price_tbl] ADD  DEFAULT (NULL) FOR [prod_ID]
GO
ALTER TABLE [dbo].[price_tbl] ADD  DEFAULT (NULL) FOR [version]
GO
ALTER TABLE [dbo].[price_tbl] ADD  DEFAULT (NULL) FOR [price_sample]
GO
ALTER TABLE [dbo].[price_tbl] ADD  DEFAULT (NULL) FOR [price_bulk]
GO
ALTER TABLE [dbo].[price_tbl] ADD  DEFAULT (NULL) FOR [CheckBox]
GO
ALTER TABLE [dbo].[price_tbl] ADD  DEFAULT (NULL) FOR [Version_num]
GO
ALTER TABLE [dbo].[price_tbl] ADD  DEFAULT (NULL) FOR [price_only]
GO
ALTER TABLE [dbo].[price_tbl] ADD  DEFAULT (NULL) FOR [QTY]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [OG_name]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [Volto_name]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT ((0)) FOR [check]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [comment]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [image_cloud]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [image]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [resolution]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [brightness]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [throw_ratio]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [contrast_ratio]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [battery]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [ports]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [light_source]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [display_type]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [display_size]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [package]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [factory]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [www]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [class]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [main_prod]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [dead]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [memory]
GO
ALTER TABLE [dbo].[productinfo_tbl] ADD  DEFAULT (NULL) FOR [bat_or_mem]
GO
ALTER TABLE [dbo].[quote_log_tbl] ADD  DEFAULT (NULL) FOR [price_bulk]
GO
ALTER TABLE [dbo].[quote_log_tbl] ADD  DEFAULT (NULL) FOR [price_sample]
GO
ALTER TABLE [dbo].[quote_log_tbl] ADD  DEFAULT (NULL) FOR [price_only]
GO
ALTER TABLE [dbo].[shippingaddress_tbl] ADD  DEFAULT ((0)) FOR [default_add]
GO
ALTER TABLE [dbo].[competitor_channels]  WITH NOCHECK ADD  CONSTRAINT [competitor_channels$FK_competitor_channels_competitor_company] FOREIGN KEY([comp_ID])
REFERENCES [dbo].[competitor_company] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[competitor_channels] CHECK CONSTRAINT [competitor_channels$FK_competitor_channels_competitor_company]
GO
ALTER TABLE [dbo].[competitor_files]  WITH NOCHECK ADD  CONSTRAINT [competitor_files$FK_competitor_files_competitor_company] FOREIGN KEY([comp_ID])
REFERENCES [dbo].[competitor_company] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[competitor_files] CHECK CONSTRAINT [competitor_files$FK_competitor_files_competitor_company]
GO
ALTER TABLE [dbo].[competitor_people]  WITH NOCHECK ADD  CONSTRAINT [competitor_people$FK_competitor_people_competitor_company] FOREIGN KEY([comp_id])
REFERENCES [dbo].[competitor_company] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[competitor_people] CHECK CONSTRAINT [competitor_people$FK_competitor_people_competitor_company]
GO
ALTER TABLE [dbo].[competitor_price]  WITH NOCHECK ADD  CONSTRAINT [competitor_price$FK_competitor_price_competitor_product] FOREIGN KEY([prod_id])
REFERENCES [dbo].[competitor_product] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[competitor_price] CHECK CONSTRAINT [competitor_price$FK_competitor_price_competitor_product]
GO
ALTER TABLE [dbo].[competitor_product]  WITH NOCHECK ADD  CONSTRAINT [competitor_product$FK_competitor_product_competitor_company] FOREIGN KEY([comp_id])
REFERENCES [dbo].[competitor_company] ([id])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[competitor_product] CHECK CONSTRAINT [competitor_product$FK_competitor_product_competitor_company]
GO
ALTER TABLE [dbo].[competitor_qcc_people]  WITH NOCHECK ADD  CONSTRAINT [competitor_qcc_people$FK__competitor_qcc] FOREIGN KEY([qcc_id])
REFERENCES [dbo].[competitor_qcc] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[competitor_qcc_people] CHECK CONSTRAINT [competitor_qcc_people$FK__competitor_qcc]
GO
ALTER TABLE [dbo].[contacts_tbl]  WITH NOCHECK ADD  CONSTRAINT [contacts_tbl$FK_contacts_tbl_cstmr_tbl] FOREIGN KEY([cust_ID])
REFERENCES [dbo].[cstmr_tbl] ([cust_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[contacts_tbl] CHECK CONSTRAINT [contacts_tbl$FK_contacts_tbl_cstmr_tbl]
GO
ALTER TABLE [dbo].[notes_tbl]  WITH NOCHECK ADD  CONSTRAINT [notes_tbl$FK_notes_tbl_cstmr_tbl] FOREIGN KEY([cust_ID])
REFERENCES [dbo].[cstmr_tbl] ([cust_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[notes_tbl] CHECK CONSTRAINT [notes_tbl$FK_notes_tbl_cstmr_tbl]
GO
ALTER TABLE [dbo].[shippingaddress_tbl]  WITH NOCHECK ADD  CONSTRAINT [shippingaddress_tbl$FK_shippingaddress_tbl_cstmr_tbl] FOREIGN KEY([cust_ID])
REFERENCES [dbo].[cstmr_tbl] ([cust_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[shippingaddress_tbl] CHECK CONSTRAINT [shippingaddress_tbl$FK_shippingaddress_tbl_cstmr_tbl]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.battery_or_memory_tbl' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'battery_or_memory_tbl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.competitor_channels' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'competitor_channels'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.competitor_company' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'competitor_company'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.competitor_files' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'competitor_files'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.competitor_people' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'competitor_people'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.competitor_price' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'competitor_price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.competitor_product' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'competitor_product'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.competitor_product_copy_before_split_og' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'competitor_product_copy_before_split_og'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.competitor_qcc' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'competitor_qcc'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.competitor_qcc_intersection' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'competitor_qcc_intersection'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.competitor_qcc_people' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'competitor_qcc_people'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.contacts_tbl' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'contacts_tbl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.cost_rmb' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cost_rmb'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.cstmr_tbl' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'cstmr_tbl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.currency_tbl' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'currency_tbl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.libre_filter_classes' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'libre_filter_classes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.libre_filter_tbl' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'libre_filter_tbl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.libre_zhutui_filter' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'libre_zhutui_filter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.notes_tbl' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'notes_tbl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.numbers_from_1_to_99' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'numbers_from_1_to_99'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.og_models' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'og_models'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.ongoinginvoice_tbl' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ongoinginvoice_tbl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.powerplug_tbl' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'powerplug_tbl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.price_tbl' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'price_tbl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.productinfo_tbl' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'productinfo_tbl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.quote_log_tbl' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'quote_log_tbl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.shippingaddress_tbl' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'shippingaddress_tbl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'u351156866_volto_cdb.status_tbl' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'status_tbl'
GO
