@import "tailwindcss";
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("@fontsource/roboto/files/roboto-latin-400-normal.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("@fontsource/roboto/files/roboto-latin-800-normal.woff2") format("woff2");
}
@import "./components/markdown/markdownOverrides.styles.css";

/* @custom-variant dark (&:where(.dark, .dark *)); */
@layer base {
  body {
    @apply font-main-font;
  }

  /* sets browser level dark mode: scrollbars, checkboxes, input fields,... */
  html.dark {
    color-scheme: dark;
  }
}

@layer components {
  .heading1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
}

@theme {
  /* --color-*: initial;  */
  /* --spacing-*: initial; */
  /* --radius-*: initial;  */

  --font-main-font: Roboto, Comic Sans MS, Comic Sans, cursive;

  /* --font-primary: Helvetica, sans-serif; */

  /* -------------*/
  /* --------------*/
  --z-index-z-overlay: 40;
  --z-index-z-modal: 40;
  --z-index-z-tooltip: 50;
  --z-index-z-popover: 50; /* multiselect, comp classification */
  --z-index-z-toast: 60;
  /* --------------*/
  --color-success-100: #f0fcf5; /*success background*/
  --color-success-300: #caf2d8; /*success border*/
  --color-success-500: #519a5d; /*success text, icons*/

  --color-info-100: #eff5ff; /*blue*/
  --color-info-300: #c8d8ed;
  --color-info-500: #2b4f9b;

  --color-warning-100: #fefbe7; /*yellow*/
  --color-warning-300: #f8f2b4;
  --color-warning-500: #ae800f;

  --color-danger-100: #fdf2f2; /*reds*/
  --color-danger-300: #e7d1cc;
  --color-danger-500: #c21c26;

  /*  --- --- --- ---  */
  --color-action-primary: #2961ee; /*blue*/
  --color-action-secondary: #e3e8f6; /*muted blue*/

  --color-component-border: #e0e0e0;

  --color-text-body: #0d0d0d;
  --color-text-header-row: #747474;
  --color-text-greyed-out: #b7b7b7;
  --color-text-on-primary-action: #ffffff;

  --color-border: #e0e0e0; /*grey*/
  --color-bg-background: #f6f6f6; /*aka surface? very light grey*/
  --color-bg-header-row: #ebebeb; /* grey*/
  --color-bg-header-hover: #f5f5f5; /* grey*/
  --color-bg-row-selected: #eaf0fe; /* blueish*/
  --color-bg-row-hover: #eeeeee; /* blueish*/
  --color-bg-table: #fff;
  --color-bg-disabled: #b1b2b3;
  --color-header-row-text: #949494; /*dark grey*/

  --radius-none: 0;
  --radius-rounded: 0.375rem; /* px,  --radius-md */

  --spacing-bordert-thickness: 1px;
  --spacing-padding-button-x: 1rem;
  --spacing-padding-button-y: 0.5rem;
}

:root {
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --color-action-primary: #415d91; /* lighter blue for dark bg */
  --color-action-secondary: #2b3550; /* muted navy / desaturated blue */

  --color-component-border: #3a3a3a; /* medium-dark grey border */

  --color-text-body: #ffffff; /* body text: white */
  --color-text-header-row: #cfcfcf; /* light grey */

  --color-bg-row-selected: #5c6372; /* blueish*/
  --color-bg-row-hover: #6e6e6e; /* blueish*/
  --color-text-greyed-out: #7d7d7d; /* greyed-out/inactive text */
  --color-text-on-primary-action: #ffffff; /* text on primary buttons: white */

  --color-border: #2f2f2f; /* same as component-border */

  --color-bg-background: #212121; /* true dark background */
  --color-bg-table: #171717; /* table/card background */

  --color-bg-header-row: #4f4f4f; /* slightly elevated surface */
  --color-bg-header-hover: #747474; /* grey*/

  --color-bg-disabled: #575757;

  --color-header-row-text: #b3b3b3; /* muted light grey text */
}

.green {
  --color-action-primary: #2e7d32; /* primary action: rich green */
  --color-action-secondary: #d7f0da; /* muted light green */

  --color-component-border: #a5d6a7; /* soft green border */

  --color-text-body: #1b5e20; /* dark green text for body */
  --color-text-header-row: #ffffff; /* medium green for headers */
  --color-bg-row-selected: #eafeeb; /* blueish*/
  --color-bg-row-hover: #eeeeee; /* blueish*/
  --color-text-greyed-out: #81c784; /* light desaturated green */
  --color-text-on-primary-action: #ffffff; /* white text on dark green */

  --color-border: #c8e6c9; /* light green border */
  --color-bg-background: #f1f8f2; /* pale green background */
  --color-bg-header-row: #6ba685; /* slightly elevated surface (minty) */
  --color-bg-header-hover: #aecfbc; /* grey*/

  --color-bg-table: #ffffff; /* white cards/tables for contrast */
  --color-bg-disabled: #9cab91;

  --color-header-row-text: #66bb6a; /* muted green header text */
}

/* Toast animations */
.ToastRoot {
  --viewport-padding: 25px;
}

.ToastRoot[data-state="open"] {
  animation: slideIn 300ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state="closed"] {
  animation: hide 100ms ease-in;
}
.ToastRoot[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

/* Navbar animation */

@keyframes slideInNavbar {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slideInNavbar 0.1s ease-out forwards;
}
